<style>
.mail_read{
    background-image: url("/index/post-it.jpg");
    height: 510px;
    width: 560px;
    float: center;
    margin: 0 auto;
    margin-bottom: 100px;
    background-repeat:no-repeat;
   background-size:cover;
}
</style>

<h3 class ="mail_read">
    <br></br>
    <br></br>
    <p>제목 : <%=@post.title%></p>
    <br><br><br><br><br>
    <p>내용 : <%=@post.content%></p>
</h3>
