@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);


input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 34px;
    width: 280px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #00BFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]{
	height: 34px;
    width: 280px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    background: #fff;
    border: 4px solid #00BFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 28px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #00BFFF;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #8A2BE2; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color:#8A2BE2; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: black; }

button.btn {
	height: 38px;
	width: 50px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    background: #42c5ea;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #42c5ea; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #42c5ea; color: #fff; }

body {
	/*background: #333;*/
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #888;
    line-height: 28px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #42c5ea;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 34px;
    font-weight: 100;
    color: #555;
    line-height: 48px;
}

h3 {
	font-size: 20px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

img { max-width: 100%; }

::-moz-selection { background: #42c5ea; color: #fff; text-shadow: none; }
::selection { background: #42c5ea; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 5px;
	padding: 0;
	background: #555;
	background: rgba(0, 0, 0, 0.3);
	font-size: 20px;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
	outline: 0; opacity: 0.6; 
	background: #555; background: rgba(0, 0, 0, 0.3); color: #fff;
}


/***** Top content *****/

.top-content { padding: 60px 0 80px 0; }
.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover, 
.top-content .description a:focus { border: 0; }

.show-forms { padding-top: 40px; font-size: 20px; color: #fff; line-height: 26px; text-align: left; }
.show-register-form, .show-forms-divider, .show-login-form { opacity: 0.6; }
.show-register-form, .show-login-form {
	cursor: pointer;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.show-register-form.active, .show-login-form.active,
.show-register-form:hover, .show-login-form:hover { opacity: 1; }

.login-form { display: none; }

.r-form { padding-top: 40px; }
.r-form .form-group { margin-bottom: 25px; }
.r-form textarea { height: 100px; }
.r-form .input-error { border-color: #42c5ea; }

.l-form { padding-top: 40px; }
.l-form .form-group { margin-bottom: 25px; }
.l-form .input-error { border-color: #42c5ea; }

.forms-right-icons .row { padding-bottom: 15px; }
.forms-right-icons { padding-top: 40px; color: #fff; text-align: left; }
.forms-right-icons h3 { margin-top: 0; color: #fff; }
.forms-right-icons .icon { text-align: right; font-size: 30px; line-height: 34px; }

.social-login { margin-top: 35px; color: #fff; }
.social-login-buttons { margin-top: 20px; }


/***** Footer *****/

footer { padding-bottom: 70px; color: #fff; }

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer a { color: #fff; border-bottom: 1px dotted #fff; }
footer a:hover, footer a:focus { color: #fff; border: 0; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
	
	.forms-right-icons .icon { font-size: 22px; }
	
}

@media (max-width: 767px) {
	
	.show-forms, .forms-right-icons, .forms-right-icons .icon { text-align: center; }
	.forms-right-icons .icon { padding-top: 10px; }
	.forms-right-icons h3 { margin-top: 15px; }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 28px; }

}

.card-cont.card{
    max-width: 300px;
    padding: 10px 10px;
    float:center;
}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
}.card-container.card {
    max-width: 300px;
    padding: 10px 10px;
    float: right;
}.btn {
    font-weight: 700;
    height: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 75px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}.col-md-8{
    margin-top: 75px;
}.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 30px;
    font-size: 14px;
}.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0;
    font-weight: 800;
    font-size: 12px;
    line-height: 120%;
    height: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    font-family: 'Roboto', sans-serif;
}.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}.forgot-password {
    color: rgb(104, 145, 162);
}.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}




/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #B0C4DE;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #B0C4DE;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


table, th, td {
    border: 1px solid black;
}
.menu{
    text-align: center;
}

.select_type
{
    height :38px;
    width : 50px;
    font-family: 'Hanna';
    text-align: center;
}

p{
 font-family: 'Hanna'; 
}

.search-bar2{
    border: 4px solid #00BFFF;
    width: 250px !important;
}