@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.card-cont.card{
    max-width: 300px;
    height: 120px;
    padding: 10px 10px;
    float:center;
}

.buttons4 {
  position: center;
  text-align: center;
  float: center;
  display: inline-block;
  min-width: 110px;
  min-height: 30px;
  padding: 10px 15px 10px;
  font: 700 12px/1 'Open Sans', sans-serif;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background: #59d;
  line-height: 18px;
  margin: 10px;
}

.btn{
  width: 110px;
}

.form-inputs3{
  margin: 10px;
}

.change-password{
  font-family: 'Hanna';
}